.container{
  height: 100px;
  min-width: 30%;
 
  &__card{
    background-color: #a1b2cd;
    min-width: 330px;
    min-height: 150px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
  }

  &__place{
    margin-bottom: 15px;
    font-size: 20px;
  }
}


