.container{
  // display: flex;
  // flex-direction: column;
  
  //flex:1 0 21%;
  height: 100px;
  min-width: 30%;
 
  &__location{
    background-color: lightgrey;
    min-width: 330px;
    min-height: 100px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
  }

}
