
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color:white;
  align-items: center;
  margin: 40px auto; 

  &__paragraph{
    background-color: white;
  }
  
}

.nav{
  background-color: #D8E8EE;
}
.p{
  background-color:white;
}
.heading{
  background-color:#6587d3;
  text-align: center;
  min-height: 80px;
  font-size: 30px;
  padding-top: 15px;
  color:white;
  margin-top:35px;
 
}