.container{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color:white;
  align-items: center;
  margin: 40px auto; 
}

.heading{
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  background-color: lightgoldenrodyellow;
  padding-bottom: 25px;

}